body{
  font-family: Lato, sans-serif;
}
.header{
  background-color: #d52047;
}
.main-fon{
  width: 1440px;
  height: 782px;
  background-color: rgba(213,32,71,0.8); 
}
.subtitle{
  font-size: 18px;
  line-height: 22px;;
  color:black;
  font-weight: 600;
}
.nav-link{
  color:white;  
  text-decoration: none;
}
.main-ul{
  list-style-type: none;
}
.logo{
  width: 133px;
  height: 22px;
}
.login{
  color:white;
  border: 1px solid white;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
}
.login:hover{
  background-color: white;
  color: black;
  border: 2px solid rgba(4, 28, 247, 0.986);
  box-shadow: 0 5px 10px 0 rgba(255, 168, 208, 0.8);
}
.login:focus{
color: rgba(124, 99, 187, 0.8);
}
.login:active{
  color: red;
}
.plain-text1{
  font-size: 16px;
  line-height: 22px;
}
.main{
  background-color: #d52047
}
.main-list{
  list-style-type: none;
}
.main-heading{
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  color: #fff;
  margin: 0;
  text-align: center;
}
.nav{
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: white;
}
.paragraph{
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
.sign_up{
  background: #fff;
  border-radius: 6px;
  color: #d52047;
  width: 160px;
  height: 60px;  
  border: none;
  cursor: pointer;
}
.sign_up:hover{
  background-color: white;
  color: black;
  border: 2px solid rgba(4, 28, 247, 0.986);
  box-shadow: 0 5px 10px 0 rgba(255, 168, 208, 0.8);
}
.sign_up:focus{
color: rgba(255, 127, 23, 0.8);
}
.sign_up:active{
  color: rgba(255, 251, 25, 0.979);
}
.play-button{
  border: none;
  padding: 20px 25px;
  border-radius:50%;
}
.title1{
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color:black;
}
.title2{
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color:black;
  }
.pause{
  width: 18px;
  height: 18px;
  background-color: #d52047;
  border-radius: 30%;
  font-size: 18px;
  line-height: 18px;
}
.video{
  width: 540px;
  height: 311px;
  border-radius: 15px;
}
.play-button{
  background-color: #d52047;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  }
.play-button:hover{
  background-color: rgb(236, 86, 86);
  border: 2px solid rgba(255, 255, 255, 0.986);
  box-shadow: 0 5px 10px 0 rgba(250, 26, 130, 0.8);
  }
.subtitle{
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.text{
  font-size: 14px;
  line-height: 22px;
}
.read_more{
  font-size: 12px;
  line-height: 150%;
  color: #ee3d1b;
  text-decoration: none;
}
.number{
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  color: rgba(16, 16, 16, 0.08);
}
.stay_focused{
  background-color: #ed4c5c;
}
.title3{
  color:white;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}
.plain-text2{
  font-size: 16px;
  line-height: 140%;
  color:white;
}
.iframe{
  width: 600px;
  height: 450px;
  border-radius: 5%;
}
.app{
  width: 24px;
  height: 24px;
}
.submit{
  width: 160px;
  height: 60px;
  background: #ed4c5c;
  border-radius: 6px;
  color: white;
  border:none;
}
.submit:hover{
  background-color: white;
  color: black;
  border: 2px solid rgba(4, 28, 247, 0.986);
  box-shadow: 0 5px 10px 0 rgba(255, 168, 208, 0.8);
}
.submit:focus{
  color: rgba(0, 0, 0, 0.8);
}
.submit:active{
  color: rgba(255, 251, 25, 0.9);
}
.select{
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}
.main-input:focus{
background-color: blue;
color: yellow;
}
.footer{
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.footer_text{
  font-size: 14px;
  line-height: 150%;
  color:black;
  text-decoration: none;
  }
  .footer-ul{
    list-style-type: none;
  }
.the_end{
  font-size: 14px;
  line-height: 18px;
}