@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff?cpa89o') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-playstore:before {
  content: "\e901";
}
.icon-appstore:before {
  content: "\e902";
}
.icon-windows_store:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-frame1:before {
  content: "\e905";
}
.icon-frame2:before {
  content: "\e906";
}
.icon-frame3:before {
  content: "\e907";
}
.icon-frame4:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-pause:before {
  content: "\e90a";
}
.icon-strelka:before {
  content: "\e90b";
}
